<div class="container">
  
  <div class="secao">
    <h5 class="text-center">Listagem dos profissionais:</h5>
  </div>

  <hr />

  <div class="row" style="margin-bottom: 50px">
  
    <div class="col-sm-4" *ngFor="let profissional of profissionais">
      <div class="card">
        <img class="card-img-top" [src]="profissional.photo_url">
        <div class="card-block">
          <h4 class="card-title">{{ profissional.fullname }}</h4>
          <p class="card-text">{{ profissional.email }}</p>
          <a href="#" class="btn btn-outline-primary">Ver profissional</a>
        </div>
      </div>
    </div>

  </div>

  <hr />
  
</div>
